<section class="news-section">
    <h2 class="news-heading">News</h2>
  
    <div class="news-grid">
      <div class="news-card">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/008/084/549/small/transport-vehicle-and-logistics-concept-3d-render-free-photo.JPG" alt="Delivery Man" />

        <h3 class="news-title">
            Eazeeship Partners with Global Robotics Services to Elevate Last-Mile Logistics with Advanced Robotic Sortation
        </h3>
        <p class="news-date">April 24, 2025</p>
      </div>
  
      <div class="news-card">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/008/084/549/small/transport-vehicle-and-logistics-concept-3d-render-free-photo.JPG" alt="Delivery Man" />

        <h3 class="news-title">
            Eazeeship Partners with Shipium to Modernize Last-Mile Delivery for Enterprise Shippers
        </h3>
        <p class="news-date">April 9, 2025</p>
      </div>
    </div>
  </section>
  