      
  <section class="hero">
    <div class="hero-content">
      <h4>Unbeatable, Nimble, Innovative</h4>
      <h1>Explore Our <br /> Shipping <span>Universe</span></h1>
  
      <p class="track-text">Track your package</p>
      <div class="track-input">
        <input type="text" placeholder="E.g. UNI12435678910" />
      </div>
      <p class="help-text">
        Need Help with your package? Contact 
        <a href="#" class="customer-service">Customer Services</a>
      </p>
      <button class="track-btn">Track Now</button>
    </div>
  
    <div class="hero-image">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/008/084/549/small/transport-vehicle-and-logistics-concept-3d-render-free-photo.JPG" alt="Delivery Man" />
    </div>
  </section>
