
<div class="container">
    <header class="header">
        <div class="logo">
          <img src="https://www.codester.com/static/uploads/items/000/023/23923/preview-xl.jpg" alt="UniUni Logo" />
        </div>
      
        <nav class="nav">
          <ul>
            <li><a href="#" [class.active]="activeLink === 'tracking'" (click)="setActive('tracking')">Tracking</a></li>
            <li><a href="#" [class.active]="activeLink === 'services'" (click)="setActive('services')">Services</a></li>
            <li><a href="#" [class.active]="activeLink === 'about'" (click)="setActive('about')">About Us</a></li>
            <li><a href="#" [class.active]="activeLink === 'news'" (click)="setActive('news')">News</a></li>
            <li><a href="#" [class.active]="activeLink === 'careers'" (click)="setActive('careers')">Careers</a></li>
            <li><a href="#" [class.active]="activeLink === 'dsp'" (click)="setActive('dsp')">DSP</a></li>
            <li><a href="#" [class.active]="activeLink === 'sustainability'" (click)="setActive('sustainability')">Sustainability</a></li>
            <li><a href="#" [class.active]="activeLink === 'support'" (click)="setActive('support')">Support</a></li>
          </ul>
        </nav>
      </header>
      
  <section class="hero">
    <div class="hero-content">
      <h4>Unbeatable, Nimble, Innovative</h4>
      <h1>Explore Our <br /> Shipping <span>Universe</span></h1>
  
      <p class="track-text">Track your package</p>
      <div class="track-input">
        <input type="text" placeholder="E.g. UNI12435678910" />
      </div>
      <p class="help-text">
        Need Help with your package? Contact 
        <a href="#" class="customer-service">Customer Services</a>
      </p>
      <button class="track-btn">Track Now</button>
    </div>
  
    <div class="hero-image">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/008/084/549/small/transport-vehicle-and-logistics-concept-3d-render-free-photo.JPG" alt="Delivery Man" />
    </div>
  </section>
</div>
  
  